body {
    background-color: #edced6;
}
h1 {
    color: #0E1224;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top:60px;
    text-align: center;
}
p {
    color:#0E1224;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
}
h2 {
    color: #0E1224;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h4 {
    color: #0E1224;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    color:#9b1823;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 25px;
  }
#navigationBar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2a2e45;
    overflow:visible;
}

.navItems {
    float: left;
    display: inline;
}

.navLink {
    display: block;
    color: #edced6;
    font-size:large;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLink:hover {
    background-color: #242735;
    color: #edced6;
}

.active {
    background-color: #9b1823;
  }

.active:hover {
    background-color: #841e26;
}

.credits {
    text-align: center;
}
.creditsUL {
    display: inline-block;
    list-style: none;
    font-size: medium;
}

.mainText {
    width:75%;
    margin: 0 auto;
}