body {
    background-color: #edced6;
}
h1 {
    color: #260402;
    font-family: Georgia, 'Times New Roman', Times, serif
}
p {
    color:#260402;
    font-family: Georgia, 'Times New Roman', Times, serif}